[mcu EBBCan4]
canbus_uuid: a44bbdad8b79 #e585f4290aa8

[extruder4]
step_pin: EBBCan4: PD0
dir_pin: !EBBCan4: PD1
enable_pin: !EBBCan4: PD2
microsteps: 16
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
gear_ratio: 50:10
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 150
heater_pin: EBBCan4: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G #EPCOS 100K B57560G104F
sensor_pin: EBBCan4: PA3
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_extrude_temp: 170
min_temp: -273.15
max_temp: 250
max_power: 1.0
pressure_advance: 0.025
##  Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

[tmc2209 extruder4]
uart_pin: EBBCan4: PA15
run_current: 0.650
stealthchop_threshold: 0


##Tool 0##
[fan_generic T4_part_fan]
pin: EBBCan4: PA1

[heater_fan T4_hotend_fan]
pin: EBBCan4: PA0
heater: extruder4
heater_temp: 50.0

[neopixel T4]
pin: EBBCan4:PD3
chain_count: 3
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 1.0
[temperature_sensor T4]
sensor_type: temperature_mcu
sensor_mcu: EBBCan4
min_temp: 0
max_temp: 100

[gcode_macro T4]
variable_active: 0 # Must be zero.
variable_color: "" # Leave empty
gcode: SELECT_TOOL T=4

# Results from input shaper
# Uncomment the following lines if you have input shaper results for this tool
# params_input_shaper_freq_x: 50.0
# params_input_shaper_type_x: 'mzv'
# params_input_shaper_damping_ratio_x: 0.15
# params_input_shaper_freq_y: 50.0
# params_input_shaper_type_y: 'mzv'
# params_input_shaper_damping_ratio_y: 0.15

# change the tool section name to the tool you are configuring:
# T0, T1, etc.
[tool T4]
tool_number: 4 # change to the index of the tool. 0, 1, 2, etc.
extruder: extruder4 # change to match the extruder you are configuring: extruder, extruder1, etc.
fan: T4_part_fan
detection_pin: ^!EBBCan4:PB6
params_park_x: 278.6 # The absolute X-position of the tool in its dock.
params_park_y: 4.8 # The absolute Y-position of the tool in its dock.
params_park_z: 298 # The absolute Z-position where the tool and shuttle mate in the dock, determined when the TAP (or Z-probe) triggers.
gcode_x_offset: -0.200
gcode_y_offset: 0.140 # The Y-Axis offset of the nozzle's orifice in relation to tool 0
gcode_z_offset: 0 # The Z-Axis offset of the nozzle's orifice in relation to tool 0