[mcu EBBCan5]
canbus_uuid: 79b135d29bc1

[extruder5]
step_pin: EBBCan5: PD0
dir_pin: !EBBCan5: PD1
enable_pin: !EBBCan5: PD2
microsteps: 16
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
gear_ratio: 50:10
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 150
heater_pin: EBBCan5: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G #EPCOS 100K B57560G104F
sensor_pin: EBBCan5: PA3
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_extrude_temp: 170
min_temp: -273.15
max_temp: 250
max_power: 1.0
pressure_advance: 0.025
##  Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

[tmc2209 extruder5]
uart_pin: EBBCan5: PA15
run_current: 0.650
stealthchop_threshold: 0



##Tool 5##
[fan_generic T5_part_fan]
pin: EBBCan5: PA1

[heater_fan T5_hotend_fan]
pin: EBBCan5: PA0
heater: extruder5
heater_temp: 50.0

[neopixel T5]
pin: EBBCan5:PD3
chain_count: 3
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 1.0
[temperature_sensor T5]
sensor_type: temperature_mcu
sensor_mcu: EBBCan5
min_temp: 0
max_temp: 100

[gcode_macro T5]
variable_active: 0 # Must be zero.
variable_color: "" # Leave empty
gcode: SELECT_TOOL T=5

# Results from input shaper
# Uncomment the following lines if you have input shaper results for this tool
# params_input_shaper_freq_x: 50.0
# params_input_shaper_type_x: 'mzv'
# params_input_shaper_damping_ratio_x: 0.15
# params_input_shaper_freq_y: 50.0
# params_input_shaper_type_y: 'mzv'
# params_input_shaper_damping_ratio_y: 0.15

# change the tool section name to the tool you are configuring:
# T0, T1, etc.
[tool T5]
tool_number: 5 # change to the index of the tool. 0, 1, 2, etc.
extruder: extruder5 # change to match the extruder you are configuring: extruder, extruder1, etc.
fan: T5_part_fan
detection_pin: ^!EBBCan5:PB6
params_park_x: 345.75 # The absolute X-position of the tool in its dock.
params_park_y: 4.73 # The absolute Y-position of the tool in its dock.
params_park_z: 297.4 # The absolute Z-position where the tool and shuttle mate in the dock, determined when the TAP (or Z-probe) triggers.
gcode_x_offset: -0.510
gcode_y_offset: 0.030 # The X-Axis offset of the nozzle's orifice in relation to tool 0 # The Y-Axis offset of the nozzle's orifice in relation to tool 0
gcode_z_offset: 0 # The Z-Axis offset of the nozzle's orifice in relation to tool 0
